.git
.gitignore
node_modules
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls
*.bbl
*.blg
.DS_Store
README.md
index.html
projects.html
blog
assets/css
assets/js
assets/og-image.png
assets/favicon-32.png
assets/apple-touch-icon.png
